* {
    margin: 0;
    padding: 0;
}

:root {
    
    --main-color-1: rgba(52, 211, 153, 0.8);
    --main-color-2: #dcfce7;
    --main-color-3: rgba(239, 68, 68, 0.8);    
    --main-color-4: #34d399;
    --main-color-5: #fef3c7;
    --main-color-6: rgb(0,0,0,0.6);
}

html {
    background-image: url("./main-background-min.webp");
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--main-color-1, lightgreen);
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 12px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex: 1;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    color: white;
    padding: 2rem;       
    background-color: var(--main-color-6, gray);
    border-right:2px solid black;
    /* box-shadow: 2px 2px 8px black; */
}

.home-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.display {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.footer {
    background-color: var(--main-color-1, lightgreen);
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer a {
    color: black;
}

button {
    padding: 0.3rem;
    border-radius: 6px;
}

.new-project-form {
    background-color: var(--main-color-6, gray);
    box-shadow: 2px 2px 12px black;
    color: white;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 6px;
}

.new-project-form li {
    list-style: none;
    display: flex;
    padding: 0.1rem 0;    
}

.form-buttons-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
}

input,
textarea,
select {
    flex: 1;
    border-radius: 6px;
    padding-left: 0.3rem;
    min-width: fit-content;
}

textarea {
    box-sizing: border-box;
    padding: 0.5rem;
}


.projects-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-element-title,
.home-div>button { 
    flex: 1;
    background-color: var(--main-color-5, gray);
    background: none;
    color: white;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid white;
    text-align: left;
    font-weight: 600;
    transition: 0.5s;
}

.project-element-title:hover,
.home-div>button:hover {
    border-bottom: 2px solid var(--main-color-4, lightgreen);
    transform: translate(0, -0.2rem);
}

/* .project-element-title:hover,
.home-div>button:hover {
    
} */

.new-project-button {
    /* font-size: 3rem; */
    color: white;
    text-align: left;
    background: none;
    border: none;
    border-radius: 50%;
    max-width: fit-content;
    transition: 0.5s;
}

.add-todo-button,
.save-note-edit-button {
    width: fit-content;
    background-color: var(--main-color-4, lightgreen);
    align-self: flex-end;

}

.new-project-button:active {
    color: white;
}

.new-project-button:hover{
    transform: translate(0.5rem, 0)
}

.new-project-button:active {
    color: var(--main-color-4, lightgreen);
    /* color: white; */
}

.new-project-button.clicked:active {
    color: var(--main-color-3, red);
    /* color: white; */
}

.submit-button,
.save-edit-button {
    background-color: var(--main-color-4, lightgreen);
    padding: 0.5rem;
}

.submit-button:active,
.save-edit-button:active {
    color: white;
}

.cancel-form-button,
.todo-delete-button,
.cancel-note-edit-button {
    background-color: var(--main-color-3, red);
}



.cancel-form-button:active,
.delete-project-button.active {
    color: white;
}

.delete-project-button {
    background-color: var(--main-color-3, red);
}

.edit-project-button,
.todo-edit-button {
    background-color: var(--main-color-5, brown);

}
.edit-project-button,
.delete-project-button {
    width: fit-content;
    align-self: flex-end;
    align-items: center;
    display: flex;  
}

/* Render objects to display */

.project-display {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-display-content-wrapper,
.todo-display {
    border: 2px solid black;
    box-shadow: 2px 2px 12px black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 6px;
    padding: 1rem;
    background-color: var(--main-color-6, gray);
}

.todo-display {
    gap: 1rem;
}

.project-display-buttons-wrapper {
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.project-display-title {
    padding-bottom: 1rem;
    text-decoration: underline;
}

.project-description-p {
    margin-left: 1.4rem;
    text-align: justify;
}

.add-todo-form {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
    flex-direction: column;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 8px;
}


.todo-list {
    
}

.todo-note > div {
    display: flex;
    gap: 0.3rem;
    border-bottom: 1px solid black;
    align-items: center;
    text-align: justify;
}



.note-buttons-wrapper {
    margin: 0.3rem 0;
    padding: 0.1rem;
    display: flex;
    gap: 0.3rem;
    align-self: flex-end;
}

input[type="checkbox"] {
    flex: 0;
}

.hidden {
    display: none;
}

.checked {
    text-decoration: line-through;
}

.add-note-date-and-priority-wrapper {
    display: flex;
    align-items: center;
    gap:1rem;
}

.note-date-and-priority-wrapper {
    min-width: fit-content;
    /* align-self: flex-end; */
    margin-left: auto;
}

.note-edit-div {
    flex-wrap: wrap;
}